@model MedicineServiceModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<br>
<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="dl-horizontal white">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dosage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dosage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descritption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descritption)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="All">Back to List</a>
</div>
