@model PatientServiceModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<br>
<p>
    <a class="btn btn-success" asp-controller="Appointment" asp-action="Create" asp-route-name="@Model.Name">Make an Appointment</a>
</p>
<br>
<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal white">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EGN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EGN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
<br>
<div>
    <a class="btn btn-primary" asp-action="All">Back to List</a>
</div>
