@model IEnumerable<DepartmentViewModel>
@{
    ViewData["Title"] = "All Departments";
}
<h2>Deparments</h2>
<br>
<div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
<br>
<div class="col-md-12">
    @foreach (var department in Model)
    {
        <div class="card col-md-4 table-bordered">
            <img class="card-img-top img-thumbnail" src="@department.ImageURL" alt="Department Image">
            <div class="card-body white">
                <h3 class="card-title">@department.Name</h3>
                <p class="card-text">@department.Description</p>
                <h4 class="text-left">Doctors:</h4>
                @foreach (var doctor in department.Doctors)
                {
                    <ul>
                        <li>
                            <a class="badge bg-primary" href="/departments/doctordetails/@doctor.Id">@doctor.Name</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    }
</div>
<br>
<hr>
<section id="doctor-team" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Meet Our Doctors!</h2>
                <hr class="botm-line">
            </div>
            @foreach (var department in Model)
            {
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="thumbnail">
                        <img src="@department.ImageURL" alt="..." class="team-img">
                        <div class="caption">
                            <h3>@department.Name</h3>
                            <p>@department.Description</p>
                            <h4 class="text-left">Doctors:</h4>
                            @foreach (var doctor in department.Doctors)
                            {
                                <ul>
                                    <li>
                                        <a class="badge bg-primary" href="/departments/doctordetails/@doctor.Id">@doctor.Name</a>
                                    </li>
                                </ul>
                            }
                            <hr class="botm-line">
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<section id="service" class="section-padding white">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h2 class="ser-title">Our Service</h2>
                <hr class="botm-line">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris cillum.</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-stethoscope"></i>
                    </div>
                    <div class="icon-info">
                        <h4>24 Hour Support</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-ambulance"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Emergency Services</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Medical Counseling</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-medkit"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Premium Healthcare</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>